* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #141d26;
}


#no-copy {
    user-select: none;
  }
  #no-copy::selection {
    background: none;
  }
  #no-copy::-moz-selection {
    background: none;
  }
