* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf8ff //#939297;
}

#no-copy {
  user-select: none;
}
#no-copy::selection {
  background: none;
}
#no-copy::-moz-selection {
  background: none;
}

.icon-row {
  display: none;
  position: relative;
  top: 40em;
  left: 36em;
  

  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1.5s;

}


.icon-row.fade {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}
.icons {
  width: 100px;
  height: 100px;
  text-align: center;
}
.logo-img{
  position: relative;
  left: -120px;
  max-width: 70px;
  border-radius: 50%;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1824px) {
  .container-icons{
    text-align: center;
    margin-top: 120px;
    margin-left: -1150px;
  }
}

@media screen and(max-width: 375px) {
  .icon-row{
    position: relative;
    left: -200px;
  }
  }
  

@media screen and(max-width: 444px) {
  .icon-row{
    position: relative;
    top: 600px;
    left: 120px;
  }
  
}

.backToTop{
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;

  -webkit-animation: fadeIn ease-in .5;
  -moz-animation: fadeIn ease-in .5;
  animation: fadeIn ease-in 1;


  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}