

$primary-font: Nixie One, cursive;
$second-font: Poiret One, cursive;
$title-font: Quicksand, sans-serif;
$text-font: Raleway, sans-serif;
$text-header: Darker Grotesque, sans-serif;
$text-header-two: Rajdhani, sans-serif;





$font-blue: #0f3f69;
$primary-color: #eaf4fd;
$second-color: #0d3e69;
$border-color: #c3cdd7;
$primary-blue: #197acf;
$second-blue: #11548f;
$third-blue: #0f4c81;
$shadow-blue: #c3cdd7;
$dark-blue: #243447;
$text-colour: #313639;


$bg-color: #f3f4f4;