.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  height: 80px;
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  padding: 0 2rem;

  box-shadow: 5px 5px #467bb1;
  border: 3px solid #000;
  background: #939297;

  font-size: 2.2rem;
  font-family: $main;
  font-weight: 700;
  text-transform: uppercase;

  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1.5s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 5s;
}
.square_1 {
  position: absolute;
  top: 40px;
  left: 80px;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #86858b;
}
@media only screen and (min-width: 1824px) {
  .square_1 {
    position: absolute;
    top: 40px;
    left: 110px;
  }
}
.square_2 {
  position: absolute;
  top: 90px;
  left: 80px;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  
  background-color: #86858b;

}
@media only screen and (min-width: 1824px) {
  .square_2 {
    position: absolute;
    top: 90px;
    left: 110px;

  }
  
}

.square_3 {
  position: absolute;
  top: 40px;
  left: 1190px;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #86858b;
}
@media only screen and (min-width: 1824px) {
  .square_3 {
    position: absolute;
    top: 40px;
    left: 1780px;

  }
  
}
.square_4 {
  position: absolute;
  top: 90px;
  left: 1190px;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #86858b;
}
@media only screen and (min-width: 1824px) {
  .square_4 {
    position: absolute;
    top: 90px;
    left: 1780px;

  }
  
}

@media only screen and (max-width: 600px) {
  .square_1, .square_2, .square_3, .square_4{
    display: none;
  }
}
.nav-logo {
  text-decoration: none;
  color: #86858b;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  text-shadow: 4px 3px 0 #7a7a7a;

  color: #bfbc85 ;
  transition: 1s all;
  padding: 5px;
}

.nav-link:hover {
  /*  text-shadow: 0 1px 0px #000, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
*/
  border-bottom: 2px solid #bfbc85;
  border-top: 2px solid #bfbc85;
  color: #34517b;
}
/* background-color: #bfbc85;
  border-bottom: 2px solid black;
  border-radius: 30px;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
}
*/
.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: relative;
    justify-content: space-between;
    z-index: 1;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 90%;
    top: -600px;
    transition: 0.5s all;
    border: 2px solid #86858b;
    background: #86858b;

    box-shadow: 5px 5px #86858b;
  }

  .nav-links.active {
    background: #939297;
    top: 100px;
    left: 20px;
  }

  .nav-item {
    padding: 10px 0;
  }

  .nav-icon {
    display: flex;
  }
  .nav-link:hover {
    text-shadow: 0 1px 0px #000, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
      2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
      3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
      5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
      6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
      8px 7px 0px #5dabcd;
  }
}
