/* navigation */
/* CSS Document */
.toggle-2,
.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 10px;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
}

/* Styling the links */
nav a {
  font-family: $second-font;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: 10px;
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

nav ul li ul li:hover {
  background: #f8f9fa;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.menu li .drop-text:hover {
  color: #000;
}

/* Background color change on Hover */

.menu li.active a,
.menu li a:hover {
  border-bottom: 1px solid #c51f5d;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* Media Queries
--------------------------------------------- */
@media (max-width: 800px) {
  nav a {
    font-size: 14px;
    
    
  }
}

@media all and (max-width: 736px) {
  nav {
    margin: 0;
    
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle.toogle-2 {
    margin-top: 5px;
    display: block;
    padding: 18px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border: none;
    float: right;
    font-family: $text-header-two;
    margin-right: 10px;
    color: #fff;
    border-radius: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    background: $dark-pink;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }

  .menu .toggle {
    display: block;
    float: none;
    margin: auto;
    max-width: 98px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    color: $dark-pink;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
    background: $dark-blue;
    padding: 25px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
    
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
  }

  /* 
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    } */

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }



  nav ul ul li a {
    color: #525252;
  }

  nav a {
    font-size: 14px;
    color: #FFF;
  }
}
