.navbar {
  opacity: 0;
  height: 80px;
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  background: #939297;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  font-size: 2.2rem;
  border: 2px solid #86858b;
  font-family: $button;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px #86858b;

  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1.5s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 5s;
}

.nav-logo {
  text-decoration: none;
  color: #86858b;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #86858b;
  transition: 1s all;
  padding: 5px;
}

.nav-link:hover {
border-bottom: 2px solid #bfbc85;
border-top: 2px solid #bfbc85;
color: #34517b;

}
 /* background-color: #bfbc85;
  border-bottom: 2px solid black;
  border-radius: 30px;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
}
*/
.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: relative;
    justify-content: space-between;
    z-index: 1;
    
    
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 90%;
    top: -600px;
    transition: 0.5s all;
    border: 2px solid #86858b;
    background: #86858b;
    
  box-shadow: 5px 5px #86858b;
  
  }

  .nav-links.active {
    background: #939297;
    top: 100px;
    left: 20px;
  }

  .nav-item {
    padding: 10px 0;
  }

  .nav-icon {
    display: flex;
  }
  .nav-link:hover {
    border-bottom: 2px solid black;
  }
}
