.animated-title {
  color: #316451;
  font-family: $text-header-two;
  text-transform: uppercase;
  height: 200px;
  left: 14%;
  top: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
}
@media only screen and (max-width: 600px) {
  .animated-title {
    margin-left: 100px;
    margin-top: -20px;
  }
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 30px;
  padding: 1px 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
  color: #34517b;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #bc5453;

  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #bfbc85;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Animated lines */

/* .vertical-block_1 {
  position: absolute;
  top: 3em;
  left: 83%;
  background-color: #34517b;
  height: 180%;
  width: 90px;
  border-radius: 30px;
  animation: verticalLineBlock_1 4s ease-in forwards;
}

@keyframes verticalLineBlock_1 {
  0% {
    height: 2%;
    width: 2%;
    top: 30px;
  }
  25% {
    height: 2%;
    width: 2%;
    top: 20;
  }
  50% {
    height: 2%;
    width: 2%;
    top: 20;
  }
  100% {
    height: 50;
  }
}
*/
.vertical-block_2 {
  position: absolute;
  top: 20em;
  left: 10%;
  background-color: #34517b;
  height: 155%;
  width: 90px;
  border-radius: 30px;
  animation: verticalLineBlock_2 4s ease-in forwards;
}

@keyframes verticalLineBlock_2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  70%{
    transform:translateY(-15px) ;
  }
  40% {
    transform: translateY(-30px);
  }
  10% {
    transform: translateY(-15px);
  }
}
@media only screen and (max-width: 600px) {
  .vertical-block_2 {
    display: none;
  }
}

.container-card {
  display: inline;
  margin-top: 100px;
  margin-left: 100px;
}
@media only screen and (max-width: 600px) {
  .container-card {
    display: none;
  }
}
.blog-card {
  display: flex;
  flex-direction: row;
  margin: 1.3rem auto;
  border: 3px solid #200;
  box-shadow: 5px 5px #467bb1;
  margin-bottom: 1.6%;
  line-height: 1.2;
  font-family: $text-font;
  
  overflow: hidden;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;

  a {
    color: inherit;
    font-family: $text-font;

    &:hover {
      color: #bc5453;
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  img,.img-slide {
    max-width: 500px;
    .img-slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 500px;
      background-position: center;
      transition: transform 0.2s;
    }
  }
  @media only screen and (max-width: 600px) {
    .img-slide {
      display: none;
    }
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: #34517b;
    color: $celadon;
    padding: 10px;
    width: 100%;
    font-size: 5rem;
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
    ul li {
      display: inline-block;
      margin-top: 50px;
    }
    .tags {
      ul:before {
        font-family: FontAwesome;
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .number {
    font-size: 0.7rem;
    position: relative;
    top: 105x;
    color: #939297;
  }
  .description {
    padding: 1rem;
    background: #939297;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: $text-header;
      color: #bfbc85;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #34517b;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $celadon;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  .description-info {
    position: relative;
    margin: 0.1rem 0 0;
    color: #316451;
    font-family: $title-font;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #bc5453;
        width: 35px;
        top: -0.75rem;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #939297;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}

/// MObile test

.border-mobile {
  margin-top: 200px;
}
.container-mobile {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  margin-top: 20px;
  border: 3px solid #000;
  box-shadow: 5px 5px #467bb1;
  border-radius: 5px;

  .card-mobile {
    background-color: transparent;
  }

  .img-card_mobile {
    width: 320px;
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
    margin-right: auto;
    border-radius: 5px;
  }

  .mobile-text {
    font-family: $text-header;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    font-size: 1em;
  }
  .mobile-info {
    font-family: $text-font;
    font-size: 0.8em;
    margin: 5px;
    text-align: center;
  }
  .mobile-list {
    list-style-type: none;
  }
  a,.mobile-links {
    position: relative;
    padding: 2px;
    margin: 5px;
    display: inline-block;
    font-family: $button;
    font-weight: 700;
    color: #316451;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: space-between;
  }
  .mobile-links{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 375px) {
  .container-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    margin-top: 20px;
    border: 2px solid #000;
    box-shadow: 5px 5px #467bb1;
    border-radius: 5px;
  .img-card_mobile {
    width: 315px;
  }
}
}
@media only screen and (max-width: 400px) {
  .container-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    margin-top: 20px;
    border: 2px solid #000;
    box-shadow: 5px 5px #467bb1;
    border-radius: 5px;
  .img-card_mobile {
    width: 337px;
  }
}
}

@media screen and (min-width: 600px) {
  .container-mobile {
    display: none;
  }
}
