.animated-title {
  color: #316451;
  font-family: $text-header-two;
  text-transform: uppercase;
  height: 200px;
  left: 14%;
  top: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
}
@media only screen and (max-width: 600px) {
  .animated-title {
    margin-left: 100px;
    margin-top: -20px;
  }
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 30px;
  padding: 1px 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
  color: #34517b;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #bc5453;

  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #bfbc85;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Animated lines */

/* .vertical-block_1 {
  position: absolute;
  top: 3em;
  left: 83%;
  background-color: #34517b;
  height: 180%;
  width: 90px;
  border-radius: 30px;
  animation: verticalLineBlock_1 4s ease-in forwards;
}

@keyframes verticalLineBlock_1 {
  0% {
    height: 2%;
    width: 2%;
    top: 30px;
  }
  25% {
    height: 2%;
    width: 2%;
    top: 20;
  }
  50% {
    height: 2%;
    width: 2%;
    top: 20;
  }
  100% {
    height: 50;
  }
}
*/
.vertical-block_2 {
  position: absolute;
  top: 20em;
  left: 10%;
  background-color: #939297;
  border-top: 3px solid gold;
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 39%, 65% 100%, 35% 100%, 35% 39%, 10% 50%);
  height: 40%;
  width: 180px;
  animation: verticalLineBlock_2 4s ease-in forwards;
}

@keyframes verticalLineBlock_2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(-30px);
  }
  10% {
    transform: translateY(-15px);
  }
}
@media only screen and (max-width: 600px) {
  .vertical-block_2 {
    display: none;
  }
}




.blog-card {
  display: flex;
  flex-direction: row;
  margin: 1.3rem auto;
  border: 3px solid #200;
  box-shadow: 5px 5px #467bb1;
  margin-bottom: 1.6%;
  margin-left: 400px;
  line-height: 1.2;
  font-family: $main;
  font-weight: 700;

  overflow: hidden;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;

  a {
    color: inherit;
    font-family: $main;
    font-weight: 700;

    &:hover {
      color: #bc5453;
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  img,
  .img-slide {
    max-width: 500px;
    .img-slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 500px;
      background-position: center;
      transition: transform 0.2s;
    }
  }

  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: #34517b;
    color: $celadon;
    padding: 10px;
    width: 100%;
    font-size: 5rem;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
    }
    ul li {
      display: inline-block;
      margin-top: 50px;
    }
    .tags {
      ul:before {
        font-family: FontAwesome;
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .number {
    font-size: 0.7rem;
    position: relative;
    top: 105x;
    color: #939297;
  }
  .description {
    padding: 1rem;
    background: #939297;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: $main;
      color: #bfbc85;
      font-weight: 700;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #34517b;
      margin-top: 5px;
    }
  }
  .description-info {
    position: relative;
    margin: 0.1rem 0 0;
    color: #316451;

    font-weight: 200;
    font-family: $main;
    font-style: italic;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #bc5453;
        width: 35px;
        top: -0.75rem;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #939297;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1824px) {
  .container-card{
    margin-top: 100px;
  }

  .blog-card {
    display: flex;
    flex-direction: row;
    margin: 2.3rem auto;
    border: 3px solid #200;
    box-shadow: 5px 5px #467bb1;
    margin-bottom: 1%;
    margin-left: 650px;
    line-height: 1.2;
    font-family: $main;
    font-weight: 700;
    height: 300px;
    width: 1500px;

    overflow: hidden;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fadeIn ease-in-out 1;
    -moz-animation: fadeIn ease-in-out 1;
    animation: fadeIn ease-in-out 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;

    a {
      color: inherit;
      font-family: $main;
      font-weight: 700;
      font-size: 30px;

      &:hover {
        color: #bc5453;
      }
    }

    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    img,
    .img-slide {
      max-width: 550px;
      .img-slide {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: 500px;
        background-position: center;
        transition: transform 0.2s;
      }
    }

    .details,
    .details ul {
      margin: auto;
      padding: 0;
      list-style: none;
    }
    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      margin: auto;
      transition: left 0.2s;
      background: #34517b;
      color: $celadon;
      padding: 10px;
      width: 100%;
      font-size: 5rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
      }
      ul li {
        display: inline-block;
        margin-top: 50px;
      }
      .tags {
        ul:before {
          font-family: FontAwesome;
          margin-right: 10px;
        }
        li {
          margin-right: 2px;
          &:first-child {
            margin-left: -4px;
          }
        }
      }
    }
    .number {
      font-size: 0.7rem;
      color: #939297;
    }
    .description {
      padding: 1rem;
      background: #939297;
      position: relative;
      z-index: 1;
      h1,
      h2 {
        font-family: $main;
        color: #bfbc85;
        font-weight: 700;
      }
      h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #34517b;
        margin-top: 5px;
      }
    }
    .description-info {
      position: relative;
      margin: 0.1rem 0 0;
      color: #939297;

      font-weight: 200;
      font-family: $main;
      font-style: italic;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: #bc5453;
          width: 35px;
          top: -0.75rem;
        }
      }
    }
    &:hover {
      .details {
        left: 0%;
      }
    }

    @media (min-width: 640px) {
      flex-direction: row;
      max-width: 700px;
      .meta {
        flex-basis: 40%;
        height: auto;
      }
      .description {
        flex-basis: 60%;

        &:before {
          transform: skewX(-3deg);
          content: "";
          background: #939297;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      &.alt {
        flex-direction: row-reverse;
        .description {
          &:before {
            left: inherit;
            right: -10px;
            transform: skew(3deg);
          }
        }
        .details {
          padding-left: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container-card {
    display: none;
  }
}
/// MObile test

.border-mobile {
  margin-top: 200px;
}
.container-mobile {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  margin-top: 20px;
  border: 3px solid #000;
  box-shadow: 5px 5px #467bb1;
  border-radius: 5px;

  .card-mobile {
    background-color: transparent;
  }

  .img-card_mobile {
    width: 320px;
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
    margin-right: auto;
    border-radius: 5px;
  }

  .mobile-text {
    font-family: $text-header;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    font-size: 1em;
  }
  .mobile-info {
    font-family: $text-font;
    font-size: 0.8em;
    margin: 5px;
    text-align: center;
  }
  .mobile-list {
    list-style-type: none;
  }
  a,
  .mobile-links {
    position: relative;
    padding: 2px;
    margin: 5px;
    display: inline-block;
    font-family: $main;
    font-weight: 700;
    color: #316451;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: space-between;
  }
  .mobile-links {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .container-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    margin-top: 20px;
    border: 2px solid #000;
    box-shadow: 5px 5px #467bb1;
    border-radius: 5px;
    .img-card_mobile {
      width: 360px;
    }
  }
  .mobile-links {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
  }
}

@media only screen and (max-width: 375px) {
  .container-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    margin-top: 20px;
    border: 2px solid #000;
    box-shadow: 5px 5px #467bb1;
    border-radius: 5px;
    .img-card_mobile {
      width: 315px;
      .mobile-links {
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .container-mobile {
    display: none;
  }
}

// OLD PROTOTYPES

.old-project-container {
  background-color: #939297;

  box-shadow: 5px 5px #467bb1;
  border: 3px solid #000;
  box-sizing: border-box;
  font-family: $main;
  width: 60%;
  text-align: left;

  padding: 15px 50px;
  margin-top: -160px;

  margin-bottom: 30px;
  margin-left: 25%;
}
.old-project-header {
  font-family: $text-font;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.1em;

  color: #86858b;
}

/*  links */

.old-project-links {
  position: relative;
  left: 35px;
  color: $yellow;
  margin: 0 10px 10px;
  padding: 0;
  transition: ease 0.25s;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.old-project-links a {
  display: inline-block;
  line-height: 1.8;

  text-decoration: none;
  color: inherit;

  transition: ease 0.25s;

  padding: 10px;
  font-size: 0.8em;
}

.old-project-container .old-project-links a:before {
  content: "⭃";
  font-size: 20px;
  left: 0;
  color: $red;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.old-project-container .old-project-links .link-1:before {
  content: none;
}

.old-project-container .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.old-project-container p.old-project-links a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.copy-right-text {
  left: 200px;
  color: $yellow;

  font-family: $main;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}
/* Media Queries */

@media (min-width: 1824px) {
  .old-project-container {
    margin-top: -100px;
    margin-left: 620px;
    font-size: 20px;
    font-weight: 600;
    width: 40%;
    font-family: $text-header-two;
  }
  .old-project-container .footer-left p.footer-links {
    line-height: 1.8;
  }
}


@media screen and(max-width: 480px) {
  .old-project-container{
    position: relative;
    width: 300px;
    top: 200px;
    left: -40px;
  }
  .old-project-title {
    margin-left: -70px;
    text-align: center;


  }
  .old-project-links{
    font-size: 16px;
  }
}