
  .animated-title {
    color: #243447;
    font-family: $text-font;
    height: 150px;
    left: 23%;
    top: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;
  }
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 30px;
    padding: 1px 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 1vmin solid #c51f5d;
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-top div span:first-child {
    color: $border-color;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }



  .row-card {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
    margin-top: 100px;
  }
  @media only screen and (min-width: 1824px) {
    .row-card {
      display: flex;
      top: 9em;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
    }
  }
  


  .container {
    width: auto;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
  }
  
  .container .card {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
    margin: 10px;
    overflow: hidden;
  }
  .container .card::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    pointer-events: none;
    opacity: 0;
  }
  
  .container .card .content {
    padding: 30px;
    text-align: center;
  }
  
  .container .card .content h2 {
    position: absolute;
    right: 200px;
    font-size: 1em;
    font-weight: 800;
    color: #c51f5d;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    font-family: $title-font;
    background-color: #141d26;
    padding: 10px;
  }
  
  .container .card:hover .content h2 {
    opacity: 1;
    transform: translateY(270px);
  }
  

  
  .container .card .content p {
    position: relative;
    top: -300px;
    font-size: 1em;
    z-index: 2;
    opacity: 0;
    letter-spacing: 1px;
    transition: 0.5s;
    font-weight: 200;
    font-family: $text-font;
    color: #f3f4f4;
    background-color: #141d26;
    padding: 10px;
  }
  .container .card:hover .content p {
    opacity: 1;
    transform: translateY(10px);
  }
  .container .card .content a {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-right: 10px;
    padding: 8px 15px;
    text-decoration: none;
    font-family: $text-font;
    text-transform: uppercase;
    font-weight: 600;
    color: #c51f5d;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #28313B;
    transition: .5s;
    background-size: 200% auto;
    z-index: 1;
  }
  
  .container .card .content a:hover{
    background-position: right center;
  }
  
  .card-img {
    width: 500px;
    opacity: .5;
  }
  .card-img:hover {
    opacity: 1;
  }
  .btn{
    background-image: linear-gradient(to right, #D2CCC4 0%, #2F4353 51%, #D2CCC4 100%);
  }
.btn:hover{
  background-position: right center;
}