.objectives-title {
  text-align: center;
  width: 35%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 140px;

  color: #bfbc85;
  background-color: #939297;
  border: 3px solid #000;
  box-shadow: 5px 5px #467bb1;

  font-size: 2em;
  font-family: $main;
  font-weight: 700;
  text-decoration: none;

  text-shadow: 2px 2px 0 #000, 4px 4px 0 #467bb1;

  transition: 2s all ease;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.objectives {
  position: relative;
  left: 4%;
  margin: 10px;
  display: inline-block;
  width: 600px;
  padding: 5px;

  .upcoming-objectives {
    height: 320px;
    margin: 5px;
    background-color: #939297;
    border: 3px solid #000;
    box-shadow: 5px 5px #467bb1;

    .objectives-title_second {
      font-family: $main;
      font-weight: 800;
      font-size: 2em;

      text-align: left;
      text-transform: uppercase;
      text-shadow: 2px 2px 0 #000, 4px 4px 0 #467bb1;
      

      color: #bfbc85;

      margin-top: 10px;
      margin-left: 30px;

      width: 420px;
    }
  }
}
.objectives-list {
  margin-top: 30px;
}
.objectives-info {
  text-align: center;
  font-family: $main;
  font-size: 1em;
  font-weight: 500;
  font-style: italic;
  color: #000;
  letter-spacing: 2px;
  line-height: 24px;
  list-style-type: none;
}

.info-1 {
  width: 160px;
  position: absolute;
  top: 120px;
  left: 45px;
  text-align: left;
  letter-spacing: 1px;
  
}
.info-2 {
  position: absolute;
  width: 160px;
  top: 120px;
  left: 240px;
  text-align: left;
  letter-spacing: 1px;
}

.info-3 {
  position: absolute;
  top: 120px;
  left: 420px;
  width: 160px;
  text-align: left;
  letter-spacing: 1px;
}

@media screen and(max-width: 480px) {
  .objectives-title {
    text-align: center;
    width: 90%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 25px;
  
    color: #bfbc85;
    background-color: #939297;
    border: 3px solid #000;
    box-shadow: 5px 5px #467bb1;
  
    font-size: 2em;
    font-family: $main;
    font-weight: 700;
    text-decoration: none;
  
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #467bb1;
  
    transition: 2s all ease;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .objectives {
    position: relative;
    left: 1%;
    margin: 10px;
    display: inline-block;
    width: 450px;
    padding: 5px;
  
    .upcoming-objectives {
      height: 320px;
      margin: 5px;
      background-color: #939297;
      border: 3px solid #000;
      box-shadow: 5px 5px #467bb1;
  
      .objectives-title_second {
        font-family: $main;
        font-weight: 800;
        font-size: 1.5em;
  
        text-align: left;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 #000, 4px 4px 0 #467bb1;
        
  
        color: #bfbc85;
  
        margin-top: 10px;
        margin-left: 30px;
  
        width: 320px;
      }
    }
  }
  .objectives-list {
    margin-top: 30px;
  }
  .objectives-info {
    text-align: center;
    font-family: $main;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    color: #000;
    letter-spacing: 2px;
    line-height: 16px;
    list-style-type: none;
  }
  
  .info-1 {
    width: 120px;
    position: absolute;
    top: 120px;
    left: 35px;
    text-align: left;
    letter-spacing: 1px;
    
  }
  .info-2 {
    position: absolute;
    width: 120px;
    top: 120px;
    left: 180px;
    text-align: left;
    letter-spacing: 1px;
  }
  
  .info-3 {
    position: absolute;
    top: 120px;
    left: 300px;
    width: 120px;
    text-align: left;
    letter-spacing: 1px;
  }
}

@media screen and(max-width: 375px) {
  .objectives-title {
    text-align: center;
    width: 80%;
    height: 50px;
    margin-top: 50px;
    margin-left: 40px;

    color: #bfbc85;
    background-color: #939297;
    border: 3px solid #000;
    box-shadow: 5px 5px #467bb1;

    font-size: 2em;
    font-family: $main;
    font-weight: 700;
    text-decoration: none;
    transition: 2s all ease;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }
  .objectives {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 10px;
    display: inline-block;
    width: 320px;
    padding: 5px;

    .upcoming-objectives {
      margin-left: -15px;
      height: 520px;
      background-color: #939297;
      border: 3px solid #000;
      box-shadow: 5px 5px #467bb1;
      width: 335px;

      .objectives-title_second {
        font-family: $main;
        font-weight: 700;
        font-size: 2em;
        text-align: center;
        color: #bfbc85;
      }
    }
  }
  .objectives-list {
    margin-top: 30px;
  }
  .objectives-info {
    font-family: $main;
    font-size: 1em;
    font-weight: 700;
    color: #000;
    letter-spacing: 2px;
    line-height: 28px;
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
  }
}
