/*

.resume-container {
  padding-bottom: 50px;
  display: inline;
  justify-content: center;
  align-items: center;
  animation: resumeAni 3s cubic-bezier(0.42, 0, 0.58, 1) backwards;
}

@keyframes resumeAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.resume-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-device-width: 1024px) {
  .resume-container {
    margin-top: 50px;
  }
}


@media only screen and (max-device-width: 444px) {
  .resume-cards {
    display: inline-block;
    text-align: center;
  }
}

.info-hover-text {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $text-header-two;
}
*/